@model Order
@{
    ViewData["Title"] = "StartOrder";
    Layout = "~/Views/Shared/_FacadeLayout.cshtml";
}

<h1>Sipariş Sayfası</h1>
<form method="post">
    <label>Müşteri ID</label>
    <input type="text" class="form-control" asp-for="CustomerID" />
    <br />
    <button class="btn btn-primary">Sipariş Oluştur</button>
</form>